/* Reset some default styles */
html,body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Site logo styles */
.site-logo-container {
    display: flex;
    align-items: center; 
    margin-left: 20px; 
}

.site-logo {
    max-width: 150px; 
}

/* Search bar styles */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* By default, align to the right */

    /* Add some margin to separate the search bar from the cart icon */
    /* margin-right: 20px; */
    
}

.search-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.search-button {
    padding: 5px 10px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Checkout cart */
.checkout-cart {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 16px;
}

.cart-icon {
    margin-right: 10px;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    font-family: Arial, sans-serif;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar li {
    padding: 10px;
}

.navbar a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}


/* Hamburger menu styles */
.menu-checkbox {
    display: none; 
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
}


/* Mobile navigation menu styles */
.menu-checkbox:checked + .hamburger-menu .mobile-menu {
    display: flex;
    height: auto;
    overflow: hidden;
    max-height: 200px;
    transition: max-height 0.3s ease-in-out;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    max-height: 200px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.mobile-menu ul {
    opacity: 1;
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}


/* Main content styles */
.container {
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.book {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.book-card {
    max-width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.book-image {
    max-width: 200px;
    height: 250px;
    margin: 0 auto;
}

/* Categories styles */
.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    width: 100%; /* Make the div span the full width */
}

.category-link {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.category-link:hover {
    background-color: #ddd;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}



/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        /* align-items: flex-start; */
    }

    .navbar ul {
        /* flex-direction: column; */
        display: none; 
        margin-top: 10px; /* Add some space between logo and navigation links */
        align-items: stretch;
    }

    .navbar li {
        margin-bottom: 5px;
        padding: 5px;
    }


    /* .search-bar {
        margin-top: 10px;
        justify-content: center;
    } */
    .hamburger-menu {
        display: flex; 
        margin-right: 10px; 
    }
    /* Adjust the search bar positioning for mobile devices */
    .search-bar {
        justify-content: center;
        margin: 10px ; /* Add some margin to center the search bar */
    }

    .search-input {
        margin-left: 0; /* Remove the left margin to center the input field */
        margin-right: 10px; /* Add some right margin to separate the input and button */
    }

}
